/*---
eleventyExcludeFromCollections: true
permalink: /static/js/script.js
---*/
const querySelectorAll = (selector) => [...document.querySelectorAll(selector)];

// Obtain the buttons of the page
const alphabeticalButton = document.querySelector('#alphabeticalButton');
const statusButton = document.querySelector('#statusButton');

// Obtain all ours series
const seriesDiv = querySelectorAll('div[data-index]');
const container = document.querySelector('#series');

// Sort series divs according to their data-index attribute
const sortSeries = (serieADiv, serieBDiv) => parseInt(serieADiv.dataset.index) - parseInt(serieBDiv.dataset.index);

// Toggle the active class from the buttons
const toggleActiveClass = () => {
  if (alphabeticalButton.classList.contains('active')) {
    statusButton.classList.add('active');
    alphabeticalButton.removeAttribute('aria-disabled');
    alphabeticalButton.classList.remove('active');
    statusButton.setAttribute('aria-disabled', 'true');
  } else {
    alphabeticalButton.classList.add('active');
    statusButton.removeAttribute('aria-disabled');
    statusButton.classList.remove('active');
    alphabeticalButton.setAttribute('aria-disabled', 'true');
  }
};

// Order series by alphabetical order
const orderByAlphabetical = (event) => {
  // Make sure the button is not currently activated
  if (event.currentTarget.classList.contains('active')) {
    return;
  }

  // Toggle the active class
  toggleActiveClass();

  // Select all nodes that we will want to remove
  const nodesToRemoveFromGroupOrder = [
    ...querySelectorAll('#series > div'),
    ...querySelectorAll('#series h3'),
    ...querySelectorAll('#series p'),
  ];

  // Create a new container for series with flex display
  const newContainer = document.createElement('div');
  newContainer.classList = document.querySelector('#series > div').classList;
  container.appendChild(newContainer);

  // Make sure series are in alphabetical order
  const orderedSeries = seriesDiv.sort(sortSeries);

  // Insert all series into the new DOM
  const appendChild = (node) => newContainer.appendChild(node);
  orderedSeries.forEach(appendChild);

  // Remove all old nodes from the group order
  const removeChild = (node) => container.removeChild(node);
  nodesToRemoveFromGroupOrder.forEach(removeChild);
};

const orderByGroup = (event) => {
  // Make sure the button is not currently activated
  if (event.currentTarget?.classList.contains('active')) {
    return;
  }

  // Toggle the active class
  toggleActiveClass();

  // Obtain the series container from the alphabetical order
  const seriesContainer = document.querySelector('#series > div');

  // Get the ordered status from Eleventy collection (.eleventy.js)
  const status = [
    // {% toJavaScriptArray collections.status %}
  ];

  // Group all series by status
  const seriesByGroup = {};
  const groupByStatus = (serieDiv) => {
    const group = serieDiv.dataset.group;
    seriesByGroup[group] = seriesByGroup[group] || [];
    seriesByGroup[group].push(serieDiv);
  };
  seriesDiv.forEach(groupByStatus);

  // Create the HTML for all status
  const createHtmlForStatus = (status) => {
    // Create a title for the status
    // Create a title for the status
    const title = document.createElement('h3');
    title.innerHTML = status.title;
    container.appendChild(title);

    // Create its description
    const description = document.createElement('p');
    description.innerHTML = status.description;
    container.appendChild(description);

    // Create the container for the series of this group
    const newContainer = document.createElement('div');
    newContainer.classList = seriesContainer.classList;
    container.appendChild(newContainer);

    // Add all series of this group inside that container
    const appendChild = (serieDiv) => newContainer.appendChild(serieDiv);
    seriesByGroup[status.slug].forEach(appendChild);
  };
  status.forEach(createHtmlForStatus);

  // Remove the old series containers for alphabetical order
  container.removeChild(seriesContainer);
};

alphabeticalButton.addEventListener('click', orderByAlphabetical);
statusButton.addEventListener('click', orderByGroup);

orderByGroup(new Event("", undefined));
