@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
  @apply text-2xl font-bold mb-3;
}

img {
  max-height: inherit;
}

@layer components {
  .active {
    @apply bg-white text-blue-600;
  }

  .ribbon {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 25px;
    margin-right: -32px;
    margin-top: 31px;
    text-align: center;
    transform: rotate(45deg);

    @apply text-sm font-medium whitespace-nowrap px-4;
  }

  svg {
    @apply stroke-current stroke-2 fill-current w-4 h-4 mr-2;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 24px;
    height: 24px;
  }
}
