<header class="
  bg-red-100
  p-6
">
  <div class="
    mx-auto
    container
    px-4
    mt-8 md:mt-16
    flex flex-col
    md:flex-row
    items-center
    pb-16
    md:pb-0
">
    <div class="
      text-center
      md:w-1/2
      mb-0"
    >
      <h1 class="
        text-4xl md:text-5xl
        text-secondary
        font-bold
        md:mb-4"
      >{{website.name}}</h1>

      <p class="
        pt-4
        pb-8
        text-xl md:text-2xl
        text-gray-700
      ">
        <span class="text-red-600 font-bold">TV series</span> watched by
        <a
          target="_blank" rel="noopener"
          class="text-green-600 font-bold underline"
          href="https://www.marianemaynard.ca"
        >Mariane</a> and
        <a
          target="_blank" rel="noopener"
          class="text-green-600 font-bold underline"
          href="https://www.benjaminrancourt.ca"
        >Benjamin</a>
      </p>
    </div>
    <div class="
      flex-1 flex
      justify-end
      max-h-56 md:max-h-96
">
      <img alt="" loading="lazy" src="/static/img/gummy-tv-room.svg">
    </div>
  </div>
</header>
